.container {
  max-width: 1240px;
  padding: 0 20px;
}

img {
  object-fit: cover;
  vertical-align: middle;
}
.gap17 {
  gap: 17px;
}
.gap-11 {
  gap: 101px;
}
.main {
  background: #f0f0f0;
}
.pt101 {
  padding-top: 109px;
}
.bg {
  background: transparent;
  border: none;
}
.zindex {
  z-index: 111111111111;
}
.hero__site {
  padding-top: 120px;
  padding-bottom: 121px;
}
.title {
  max-width: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  padding-bottom: 32px;
  color: #000000;
}
.text {
  max-width: 608px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  padding-bottom: 40px;
}
.hero {
  padding-top: 100px;
  padding-bottom: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imglogo00 {
  display: none;
}
.imglogo1 {
  display: none;
}
.imglogo2 {
  display: none;
}

.btnn {
  background: #ee1b24;
  padding: 17px 37px;
}
.btnn1 {
  margin-left: 48px;
  padding: 17px 37px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 18px;
  }
  .imglogo {
    display: none;
  }
  .imglogo1 {
    display: block;
  }
  .btnn {
    padding: 10px 20px;
  }
  .btnn1 {
    margin-left: 32px;
    padding: 10px 30px;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    padding-top: 0px;
    padding-bottom: 51px;
  }
  .title {
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0;
  }
  .text {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .imglogo1 {
    display: none;
  }
  .imglogo2 {
    display: block;
  }
  .btnn {
    padding: 10px 10px;
    font-size: 14px;
  }
  .btnn1 {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .hero__site {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 14px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    text-align: center;
  }
  .list {
    position: absolute;
    padding: 20px;
    right: 0;
  }
  .imglogo00 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .imglogo2 {
    display: none;
  }
  .btnn {
    padding: 10px 20px;
  }
  .btnn1 {
    margin-left: 32px;
    padding: 10px 30px;
  }
}
.frow {
  background-image: url(../imges/background__imagedes.png);
  background-repeat: no-repeat;
  padding: 25px 0;
}
.nas1 {
  padding: 80px;
  max-width: 600px;
  width: 100%;
  background-color: #161a2b;
}
.wrapper {
  padding: 56px 0;
  background-image: url(../imges/background__imagedes.png);
  background-repeat: no-repeat;
}

.cards {

  padding: 15px 0;
  padding-right: 50px;
}

.cart {
  padding: 10px;
  background: #161a2b;
  height: 144px;
  width: 280px;
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding: 0;
  }
  .nas1 {
    padding: 80px;
    max-width: 670px;
  }
  .cart {
    width: 208px;
    height: 130px;
  }
  .nas {
    flex-wrap: wrap;
    background-image: url(../imges/Background__imagetablet.png);
    background-repeat: no-repeat;
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 768px){
  .cards{
    padding-right: 0;
  }
  .cart {
    width: 300px;
    
   
  }
}
@media screen and (max-width: 576px){
  .cards{padding: 0;}
   .cart {
   
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    height: 130px;
  }
}
.clo{
  max-width: 576px;
  width: 100%;
}
.tex{
  padding-bottom: 96px;
} 
.room-site{
  background-image: url(../imges/daniel-larionov-iYYf3JZEUPI-unsplash.png);
  background-repeat: no-repeat;
  padding-bottom: 150px;
}
.room2{
 
  background-color: #fff;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width:992px) {
  .clo{
    max-width: 320px;
    width: 100%;
  }
}
.list11{
  position: absolute;
 display: none;
  transition: all 1s ease;
  background-color: #161a2b;
  width: 200px;
  padding: 20px 0;
  border-radius: 10px;
}
.list12{
  
 display: block;
  transition: all 1s ease;
}
.list14{
  background-color: #424242;
}




