.container{
  max-width: 1240px;
  padding: 0 20px;
}

img {
  object-fit: cover;
  vertical-align: middle;
}
.gap17 {
  gap: 17px;
}
.gap-11 {
  gap: 101px;
}
.main {
  background: #f0f0f0;
}
.pt101{
  padding-top: 109px;
}
.bg{
  background: transparent;
  border: none;
}
.zindex{
  z-index: 111111111111;
}